---

---

<section class="from-secondary/20 relative flex min-h-screen items-center bg-gradient-to-b to-white pt-20"
>
<div class="container mx-auto px-4">
    <div class="grid items-center gap-12 grid-cols-1 md:grid-cols-2">
        <div>
        <div class="bg-secondary text-black mb-8 rounded-lg p-6 text-center">
        <p class="mb-2 font-medium">
            "Lu Ne Dina Rérr Bañ Diko wane yoon Ba Mu Déss jëff!"
        </p>
        <p class="text-sm">
            Chaque contribution, quelle que soit sa taille, aura un impact
            significatif sur notre communauté.
        </p>
        </div>
        <h1
        class="text-primary mb-6 text-center text-4xl font-bold md:text-6xl"
        >
        Dajjale jëffu murids yi
        </h1>
        <h2 class="mb-8 text-center text-xl text-gray-600">
        jëm si Ndogou Seex Ibra Faal yi
        </h2>
        
        <div class="grid gap-8 mb-8 grid-cols-1 md:grid-cols-2">
                <a href="https://pay.wave.com/m/M_bklJRFSYebvT/c/sn/" target="_blank">
                    <button class="flex w-full items-center justify-center gap-4 rounded-lg bg-white p-4 transition-colors hover:bg-[#1DC8FF]/90">
                        <img
                        src="/wave.webp"
                        alt="Wave"
                        class="h-12 object-contain"
                        />
                    </button>
                </a>
                <a href="#" target="_blank">
                    <button
                        class="flex w-full items-center justify-center gap-4 rounded-lg bg-white p-4 transition-colors hover:bg-[#FF6B00]/90"
                    >
                        <img
                        src="/om.svg"
                        alt="Orange Money"
                        class="h-12 object-contain"
                        />
                    </button>
                </a>
        </div>

        
    </div>
    <div class="relative">
    <div class="relative overflow-hidden rounded-[2rem] shadow-xl">
        <img
            src="/jef.webp"
            alt="Ndogou Collectif"
            class="aspect-[4/3] w-full object-cover"
        />
    <div
            class="from-primary/50 to-transparent absolute inset-0 bg-gradient-to-t"
        >
    </div>
        <div
            class="bg-primary absolute bottom-4 right-4 rounded-full px-6 py-2 text-sm font-medium text-white"
        >
            OBJECTIFS KOOR 2026-1447H
        </div>
        </div>
    </div>
    </div>

    {/* Decorative Background Pattern */}
    <div
    class="bg-blue-pattern absolute bottom-0 left-0 flex h-16 w-full opacity-20"
    >
    </div>

</section>
